disturl=https://npm.taobao.org/dist # node-gyp 编译依赖的 node 源码镜像

## 以下选择添加
chromedriver_cdnurl=http://cdn.npm.taobao.org/dist/chromedriver # chromedriver 二进制包镜像
operadriver_cdnurl=http://cdn.npm.taobao.org/dist/operadriver # operadriver 二进制包镜像
phantomjs_cdnurl=http://cdn.npm.taobao.org/dist/phantomjs # phantomjs 二进制包镜像
fse_binary_host_mirror=https://npm.taobao.org/mirrors/fsevents # fsevents 二进制包
sass_binary_site=http://cdn.npm.taobao.org/dist/node-sass # node-sass 二进制包镜像
electron_mirror=http://cdn.npm.taobao.org/dist/electron/ # electron 二进制包镜像
